@value colors: './colors.css';
@value rqGolden, rqWhite, rqLightgray from colors;

.browseHeader {
	composes: header from './common.css';
}

.browseOuterContainer {
	composes: outerContainer from './common.css';
}

.browseContainer {
	display: flex;
	max-width: 954px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.browseContainer:after {
  content: "";
  flex: auto;
}

.browseItem {
	composes: itemBox from './common.css';
	width: 300px;
	height: 300px;
	margin: 8px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.browseItemImage {
	flex-grow: 1;
	padding-top: 10px;
}

.browseItemPrice {
	text-align: left;
	padding-left: 15px;
}

.browseItemFav {
	text-align: right;
	padding-right: 10px;
}

.footer {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

.loadButton {
	color: rqGolden;
	width: 150px;
	height: 30px;
	font-size: 12px;
	border: 1px solid rqGolden;
	border-radius: 15px;
	background-color: rqWhite;
	cursor: pointer;
}
