@value colors: "./colors.css";
@value rqGolden, rqWhite, rqLightgray from colors;

.browseContainer {
	width: 100%;
	text-align: center;
}

.browseTable {
	margin: 0px auto;
	border-spacing: 15px;
}

.itemCell {
	width: 300px;
	height: 300px;
	border: 1px solid rqLightgray;
	background-color: rqWhite;	
}

.footer {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

.loadButton {
	composes: linkColor from "./shared.css";
	width: 150px;
	height: 30px;
	font-size: 12px;
	border: 1px solid rqGolden;
	border-radius: 15px;
	background-color: rqWhite;
	cursor: pointer;
}
