@value colors: './colors.css';
@value rqWhitesmoke, rqLightgray, rqWhite from colors;

:global(body) {
	margin: 0px;
	background-color: rqWhitesmoke;
	font-family: Helvetica;
	font-size: 17px;
}

.content {
	width: 100%;
	text-align: center;
	/*overflow-x: hidden;*/
}

.outerContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 8px;
}

.itemBox {
	border: 1px solid rqLightgray;
	background-color: rqWhite;
	margin: 5px;
}

.header {
	background-color: rqWhite;
	padding: 10px;
	border-bottom: 1px solid rqLightgray;
	color: black;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
}

.favoriteIcon {
	cursor: pointer;
}