@value colors: './colors.css';
@value rqGolden, rqWhite, rqLightgray, rqGray from colors;

.itemHeader {
	composes: header from './common.css';
	position: relative;
}

.itemContainer {
	composes: content from './common.css';
}

.itemTable {
	margin: 0px auto;
	border-spacing: 10px;
	height: 350px;
}

.itemTable td {
	background-color: rqWhite;
	border: 1px solid rqLightgray;
}

.imageCell {
	width: 300px;
	height: 100%;
	position: relative;
}

.dataCell {
	width: 600px;
	height: 50%;
	color: rqGray;
	padding: 0px;
}

.dataTable {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.dataTable td {
	border: none;
	padding: 0px;
}

.descrCell {
	composes: dataCell;
	text-align: justify;
	padding: 15px;
}

.leftHeaderLink {
	position: absolute;
	left: 20px;
	top: center;
}

.linkText {
	color: rqGolden;
	font-size: 17px;
	text-decoration: none;
}

.dataTop {
	text-align: left;
	padding: 15px;
}

.header2 {
	font-size: 20px;
	color: black;
}

.header3 {
	color: black;
}

.purchaseBtn {
	color: rqGolden;
	font-size: 14px;
	border: 1px solid rqLightgray;
	border-bottom: none;
	width: 100%;
	height: 40px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.favIconCont {
	position: absolute;
	top: 10px;
	right: 10px;
}